.preview {
    background-color: $clr1;
    border-radius: 10%;
    padding: 1rem 0 1rem 0;
    width: 230px;
    //gap: 2rem;

    span {
        margin-right: 8vw;
        visibility: hidden;
    }

    &:hover {

        span {
            visibility: visible;
            cursor: pointer;
        }
    }

    img {
        border-radius: 50%;
        background-color: $clr3;
        filter: grayscale(60%);
        transition: .3s;
    }

    img:hover {
        filter: grayscale(0%);
    }
}