.contact-list {
    text-align: center;
    h1 {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: $clr6;
        margin: 44px 0 48px 0;
    }

    .list {
        gap: 3.5rem;
    }
}