.moves-preview {

    li {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 42px;
        background-color: $clr2;
        border-radius: 20px;
        width: fit-content;
        padding: 10px;
    }
}