// Colors
$clr1: #72a7cd;
$clr2: #85a8c1;
$clr3: #617e93;
$clr4: #ffffff;
$clr5: #000000;
$clr6: #021718;
$clr7: #62646a; //text
$clr8: #404145; //title

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;